extends templates/_tpl.jade

block vars
  //- - var epigraph = "Деньги – это праздник, который всегда с тобой";
  - var page_prev = ""
  - var page_next = "osnova.html"

block article
  .title
    p.title__description Online-учебник<br> для начинающих
    //- img.title__money-icons(src="img/Round_Dollar_coin_money_128.png", alt="Dollar")
    //- img.title__money-icons(src="img/Round_Euro_Button_128.png", alt="Euro")
    //- img.title__money-icons(src="img/Round_Pound_Button_128.png", alt="Pound")
  .article
    include:markdown articles/index.md
    //- p.article__epigraph #{epigraph}
    //- h1 Forex для чайников
    //- p Цель данной работы — написать «понятный» учебник для тех, кто хотел бы попробовать свои силы на международном рынке Форекс, понять закономерности валютного рынка и научиться зарабатывать на изменении валютных курсов.
    //- p Форекс не является «рынком» в традиционном смысле этого слова. У него нет конкретного адреса — это рынок «бомж»;. Торговля происходит через терминалы компьютера в течение всей рабочей недели 24 часа в сутки. Сотни миллионов долларов продаются и покупаются каждые несколько секунд, что и составляет суть так называемого валютного трейдинга.
    //- p <strong>Для того, чтобы стать успешным трейдером</strong> необходимо получить определенный объем специальных знаний, познакомиться с основными понятиями трейдинга, методами анализа и прогнозирования рынка.
    //- p С нашей точки зрения, теоретические занятия лучше проводить параллельно с практической работой на учебном виртуальном счете, что позволит без каких-либо материальных затрат с Вашей стороны быстрее постичь все премудрости работы на международном валютном рынке Форекс.
    //- h2 С чего начать?
    //- p Для участия в процессе покупки-продажи иностранной валюты,необходимо иметь компьютер, специальную программу и выход в Интернет.
    //- p Для того, чтобы лучше понимать нижеследующий материал, необходимо скачать (бесплатно) замечательную торговую платформу #[a(href='http://www.metaquotes.net/ru/metatrader4/trading_terminal') MetaTrader 4], которая разработана компанией MetaQuotes software. Для этого необходимо пройти по указанной ссылке.
    //- p Вслед за тем, как Вы стали обладателями программного приложения необходимо его освоить: почитать руководство по эксплуатации или обратиться к #[a(href="file:///E:/%D0%BF%D1%80%D0%B8%D0%BC%D0%B5%D1%80%D1%8B/Oleg/FX/FX/F3/F2/f/flesh/FOREX/index.html#") подсказке].
    //- p Очень скоро Вы обнаружите, что с помощью торговой платформы МТ4 оказались в реальном валютном рынке, который предстанет перед Вами в виде графиков различных валютных пар.
    //- p Графики могут быть представлены в виде:
    //- ul
    //-   li <em>— баров</em>
    //-   li <em>— сплошной линии</em>
    //-   li <em>— японских свечей</em>
    //- p Kак выглядят графики и как с ними работать мы узнаем из следующих глав.
    //- p Указанная торговая платформа позволит Вам открыть свой учебный счет, например, на $5000, и Вы сможете открывать различные сделки на покупку или продажу валюты в реальном валютном рынке.
    //- p Обратите внимание — счет учебный (т.е. Вы ничего не теряете и ничем не рискуете), а рынок реальный. Именно с этого, по нашему мнению, и следует начинать.
    //- p Если Вы будете каждый месяц стабильно увеличивать свой учебный счет хотя бы на 10%, можно подумать и об открытии реального счета. Как это сделать мы расскажем позже, но торопиться с этим не стоит. p <strong>Имея перед глазами реальный рынок, легче осваивать последующие темы, из которых Вы узнаете:</strong>
    //- ul
    //-   li <em>— различные способы анализа свечных и линейных графиков валютных пар</em>
    //-   li <em>— различные способы открытия длинных и коротких позиций</em>
    //-   li <em>— способы фиксации прибыли и минимизации убытков</em>
    //-   li <em>— правила работы с техническими индикаторами</em>
    //- p И многое другое, что позволит Вам стать настоящим трейдером и научит зарабатывать на изменениях курсов валютных пар.
    //- p В данной работе авторы опирались на труды выдающихся финансовых аналитиков — Доу, Наймана, Элдера, Нисона, Уайдлера и ряда других. #[a(href="literatura.php") См. лит.]