extends templates/_tpl.jade

block vars
  - var page_prev = ""
  - var page_next = "osnova.html"

block article
  .title
    p.title__description Online-учебник<br> для начинающих
  .article
    include:markdown articles/index.md